#Contacto{
    height: fit-content;
}
.item-contacto{
    padding-block: 5%;
}
.map{
    width: 100vw;
}
.content-contacto{
    flex-wrap: wrap;
}

@media all and (min-width: 750px){
    .content-contacto{
        flex-wrap: nowrap;
    }
}