.logo{
    width: 10rem;
    height: 5rem;
    background-image: url(../assets/logo.svg);
    background-repeat: no-repeat;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3%;
    height: 100vh;
    z-index: 2;
}

.nav-link:hover{
    color: var(--bg-flat-blue)
}

.hamburger-menu{
    width:4rem;
    height: 4rem;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    z-index: 2;
}

.bar{
    pointer-events: none;
    width: 3rem;
    height: .5rem;
    background-color: var(--bg-flat-blue);
    border-radius: 99999px;
    transform-origin: left center;
    transition: opacity 0.3s ease-in-out ,
    width 0.3s ease-in-out,
    translate 0.3s ease-in-out,
    rotate 0.3s ease-in-out;
}


@media all and (max-width:1024px) and (orientation: portrait){
    .link-items{
        transition: transform .5s ease-in-out;
        transform: translateY(-100%);
        display: flex;
        position:fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #2800b5;
        justify-content: center;
        align-items: center;
        gap:1%;
        .social-links{
            margin-top: 5%;
            justify-content: space-between;
        }
        span{
            display: inline-block;
            width:3rem;
            aspect-ratio: 1/1;
            margin-right: 2%;
        }
    }

    .nav-link{
        font-size: var(--fs-XXL);
        line-height: 0.8;
        color: #ffffff;
    }
}



  @media all and (min-width: 1024px) and (orientation: landscape){
    .link-items{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        width: 30%;
    }
    .hamburger-menu{
        display: none;
    }

    .navbar{
        align-items: flex-start;
    }

}

